<div class="container">
  <div class="row">
    <div class="col-md-10 d-flex mx-auto justify-content-center">
      
      
      <div class="sidebar col-md-3">
        <div class="search_form">
          <%= render "public/searches/search_form" %>
        </div>
        <div class="department_search">
          <% @departments.each do |department| %>
          <ul class="department_list">
            <%= link_to department_search_path(department_id: department.id), remote: true do %>
              <li><%= department.name %></li>
            <% end %>
          </ul>
          <% end %>
        </div>
      </div>

      <div class="employees_index col-md-7">
        <%= render "public/employees/employees_index", employees: @employees %>
      </div>
      
    </div>
  </div>
</div>