<div class="group-wrapper">
  <div class="search_field">
    <%= render "public/searches/search_form", keyword: keyword %>
  </div>
  <div class="btn-field">
    <%= link_to "グループ新規作成", new_group_path, class: "rounded-btn" %>
  </div>
</div>