// Place all the styles related to the public/groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.group-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 2px;
  border-bottom: 1px solid #888;
  margin-bottom: 30px;
}

.group {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  transition: .25s;
}

.group:focus,
.group:hover {
  background-color: #F5F5F5;
}


.group__footer {
  display: flex;
  justify-content: start;
}

.group__footer > *:last-child {
  margin-right: 0;
}

.group__item {
  margin-right: 10px;
}