<div class="search-group">
  <div class="search-group__item">
    <div class="search">
      <%= render "public/searches/search_form", keyword: keyword %>
    </div>
  </div>
  <div class="search-group__item">
    <h3>部署検索</h3>
    <ul class="horizontal-department-list ">
      <%= render partial: "admin/departments/department_search_list", collection: departments, as: "department" %>
    </ul>
  </div>
</div>