<%= link_to transition_path(activity) do %>
  <div>
    <%= link_to activity.subject.employee.first_name, employee_path(activity.subject.employee) %>
    さんがあなたの
    <%= link_to '投稿', article_path(activity.subject.article) %>
    にコメントしました
    <%= " (#{time_ago_in_words(activity.created_at)}分前)" %>
  </div>
<% end %>