<% unless admin_signed_in? %>
  <% if article.favorited_by?(current_employee) %>
    <%= link_to article_favorites_path(article), method: :delete, remote: true, data: {"turblinks" => false}, class: "favorite_link_#{article.id}" do %>
      <i class="fa-solid fa-thumbs-up icon"></i>
    <% end %>
    <span class="count-num">
      <%= article.favorites.size %>
    </span>
  <% else %>
    <%= link_to article_favorites_path(article), method: :post, remote: true, data: {"turblinks" => false}, class: "favorite_link_#{article.id}" do %>
      <i class="fa-regular fa-thumbs-up icon"></i>
    <% end %>
    <span class="count-num">
      <%= article.favorites.size %>
    </span>
  <% end %>
<% end %>