<%= link_to tag_search_path(tag_id: tag.id), class: "icon" do %>
<li class="rounded-tag rounded-tag--link">
  <i class="fa-solid fa-tag"></i>
  <%= tag.name %>
  <% if local_assigns[:full] %>
    (<%= tag.article_tags.count %>)
  <% end %>
</li>
<% end %>