// ボタン
.rounded-btn {
  display: inline-block;
  min-width: 180px;
  max-width: 100%;
  padding: 5px 5px;
  background-color: #0000FF;
  color: #fff;
  border: 2px solid transparent;
  border-bottom-color: #0000CD;
  border-radius: 10px;
  font-size: 1.125em;
  text-align: center;
  text-decoration: none;
  transition: .25s;
}

.rounded-btn:focus,
.rounded-btn:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #0000FF; // 通常時の背景色と入れ替え
}

.rounded-btn--edit {
  background-color: #008000;
  color: #fff;
  border-bottom-color: #006400;
}

.rounded-btn--edit:focus,
.rounded-btn--edit:hover {
  color: #008000;
}

.rounded-btn--danger {
  background-color: #FF0000;
  color: #fff;
  border-bottom-color: #8B0000;
}

.rounded-btn--danger:focus,
.rounded-btn--danger:hover {
  color: #FF0000;
}

.horizontal-btn-list {
  display: flex;
  justify-content: center;
}

.horizontal-btn-list > *:last-child {
  margin-right: 0;
}

.horizontal-btn-list__item {
  flex: 1 1 0;
  max-width: 180px;
  margin-right: 20px;
}

.horizontal-btn-list__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

// タグ
.rounded-tag {
  display: inline-block;
  padding: .2em .7em;
  background-color: #e25c00;
  border-radius: 1em;
  color: #fff;
  font-size: .75em;
  font-weight: bold;
  border: 2px solid transparent;
}

.rounded-tag--link {
  text-decoration: none;
  transition: .25s;
}

.rounded-tag--link:focus,
.rounded-tag--link:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #e25c00;
}

// form
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group__btn {
  text-align: center;
}
.form-group__link {
  margin-top: 20px;
}

.form {
  padding-bottom: 20px;
}

.form-label {
  
}

.form-text {
 width: 180px;
 border: 1px solid #000000;
 border-radius: 4px;
 padding: 10px 10px;
}

.form-text--size-m {
  width: 500px;
  height: 50px;
}

.form-text--size-l {
  width: 500px;
  height: 400px;
}

//navigation
.nav-list {
  display: flex;
  justify-content: space-around;
}

.nav-list__item {
  padding-left: 30px;
}

//table
.table {
  border-spacing: 20px;
}